body {
    font-family: Verdana;
}
/*reset*/
.row {
    margin-right: -2.5px;
    margin-left: -2.5px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.input-group-addon {
    padding: 4px 12px;
}
.btn{
    padding: 2.5px 20px;
    transition: all .3s;
    font-size: 13px;
    margin-left: 5px;
   border-radius: 0;
    float: left;
}
.btn-primary {
    background-color: #36c6d3;
    border-color: #26a4b0;
}
.btn-primary:focus, .btn-primary:hover {
    background-color: #26a4b0!important;
    border-color: #22919b!important;
}
h3{
    font-size: 17px;
    text-transform: uppercase;
    color: #36c6d3;
    margin: 0;
}
/*end reset*/
/*common*/
.margin-top{
    margin-top: 23px;
}
.table-style .table-head{
    padding: 10px 0;
    margin-bottom: 0;
    float: left;
    width: 100%;
}
.table-style table thead tr th{
    color: #012147;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    padding: 10px!important;
    padding-right: 15px!important;
    vertical-align: middle;
    text-overflow: ellipsis;
    line-height: 11px;
    border-bottom-width: 1px!important;
}
.table-style table tbody tr td{
    font-size: 13px;
    padding: 5px 10px;
}
.table-style table tbody tr:nth-child(2n){
    background-color: #f7f7f7;
}
/*end common*/
/*error*/
.error-style .form-control {
    border-color: #d91e18;
    position: relative;
}
.error-style .error {
    position: absolute;
    bottom: 26px!important;
    background-color: #fbdcdb;
    border: 1px solid #f6b0ae;
    color: #d91e18;
    right: 0;
    padding: 5px;
    white-space: nowrap;
    z-index: 9999;
    display: none !important;
}
.error-style:hover .error {
    display: block !important;
}
/*end error*/
.us-white-block {
    background-color: #fff;
    padding: 2px;
    margin-bottom: 20px;
}

.txt-required {
    color: #cd0b00;
}

.form-group {
    position: relative;
}

.form-group label {
    font-size: 12px;
    font-weight: 500;
    color: #3a3a3a;
    margin-bottom: 2.5px;
}
.form-control{
    border-radius: 0;
    box-shadow: none;
    border-color: #c7c7c7;
    padding: 2.5px 3px;
    height: 26px;
    font-size: 13px;
}
.datepicker{
    padding: 0;
}
.icon-upload i{
    color: #012147;
    font-size: 55px;
}
.upload-form input{
    width: 100%;
    padding: 15px;
    height: 100px;
    border: 2px dashed #ddd;
    position: relative;
    cursor: pointer;
    background-color: #f7fcff;
}
.upload-form input:after{
    content: "";
    font-family: "Glyphicons Halflings";
    content: "\e198";
    font-size: 38px;
    position: absolute;
    bottom: 0px;
    left: 41%;
    color: #c6c6c6;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.5;
  z-index: 99999;  
}
.loading-overlay img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
}

.pagination {
    margin: 0 !important;
    padding-left: 10px;
}

.pagination li a {
    padding: 2px 10px;
    margin-left: 3px;
    border-radius: 4px;
    color: #7a7a7a !important;
    cursor: pointer !important;
}

.pagination li a i {
    margin-right: 0;
}

.pagination li a:hover {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    color: #fff !important;
}

.pagination li.active a {
    background-color: #36c6d3 !important;
    color: #fff !important;
    border-color: #2bb8c4 !important;
}

.form-inline {
    margin-bottom: 2px;
}

.form-inline label {
    font-weight: 500;
    font-size: 11px;
}