<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="stylesheet/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheet/bootstrap-datepicker.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
        <link rel="stylesheet" type="text/css" href="stylesheet/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="stylesheet/font-awesome.min.css">

        <title>Events Tracking</title>
    </head>
    <body>
        <div id="events-tracking-iframe">
            <div v-if="errMessage && !isHideError" class="col-mg-12">
                <div class="alert alert-danger">
                    <a href="javascript:void(0);" v-on:click="isHideError = !isHideError" class="close" aria-label="close">&times;</a>
                    <span>{{errMessage}}</span>
                </div>
            </div>
            <div id="main-content" class="us-white-block">
                <div v-if="events && events.length > 0" class="form-inline pull-left">
                    <label>Show:</label>
                    <select v-on:change="onPageSizeChanged($event)" class="form-control">
                        <option value="20" selected>20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="table-style">
                    <table class="table table-bordered" id="list-upload-docs">
                        <thead>
                            <tr>
                                <th>INV #</th>
                                <th>REF #</th>
                                <th>CUS REF</th>
                                <th>SAC</th>
                                <th>Description</th>
                                <th>UOM</th>
                                <th>QTY</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Amount</th>
                                <th>Inv Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="event in events">
                                <td>{{event.inv_num}}</td>
                                <td>{{event.ref_num}}</td>
                                <td>{{event.item}}</td>
                                <td>{{event.sac}}</td>
                                <td>{{event.description}}</td>
                                <td>{{event.unit_uom}}</td>
                                <td>{{event.qty}}</td>
                                <td>{{event.unit_price}}</td>
                                <td>{{event.discount}}</td>
                                <td>{{event.amount}}</td>
                                <td>{{event.inv_dt}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p v-if="!events || events.length === 0" class="no-results">No Results Found.</p>
                    <div class="pull-right row">
                        <div class="showing pull-left" v-if="paginationObj.count > 0">
                            Showing from {{(paginationObj.current_page - 1) * perPage + 1}} to {{(paginationObj.current_page - 1) * perPage + events.length}}  of total {{paginationObj ? paginationObj.total : 0}}
                        </div>
                        <ul class="pagination pull-right" v-if="paginationObj && paginationObj.total_pages > 1 && paginationObj.total > perPage">
                            <li v-if="paginationObj.current_page > paginationObj.numLinks">
                                <a v-on:click="fetchData(1)"><i class="fa fa-step-backward"></i></a>
                            </li>
                            <li v-if="paginationObj.current_page > 1">
                                <a v-on:click="fetchData(paginationObj.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
                            </li>

                            <li v-for="item in paginationObj.tmpPageCount" v-bind:class="{ active: item==paginationObj.current_page }">
                                <a v-if="item != paginationObj.current_page"  v-on:click="fetchData(item)">{{item}}</a>
                                <a v-if="item == paginationObj.current_page">{{item}}</a>
                            </li>
                            <li v-if="paginationObj.current_page < paginationObj.total_pages">
                                <a v-on:click="fetchData(paginationObj.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                            <li v-if="(paginationObj.current_page + paginationObj.numLinks) < paginationObj.total_pages">
                                <a v-on:click="fetchData(paginationObj.total_pages)"><i class="fa fa-step-forward"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div v-if="isLoadingData" class="loading-overlay" ><img src="images/spinner.gif" alt=""></div>
        </div>
        <script type="text/javascript" src="./config.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="js/jquery.validate.js"></script>
        <script type="text/javascript" src="js/additional-methods.min.js"></script>        
        <script type="text/javascript" src="js/sweetalert.min.js"></script>
        <script type="text/javascript" src="js/site.js?v=14"></script>
    </body>
</html>